@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
    background-color: rgb(50, 107, 181);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;
    padding: 1rem;
}