/* src/Home.css */
.home-container {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(to right, #ff7e5f, #feb47b); 
    padding-left: 50px;
    color: #fff;
  }

  .home-content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 10px;
  }
  
  .home-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .home-content p {
    font-size: 30px;
    /* margin-bottom: 30px; */
  }

  .profile-image{
    width: 250px;
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .resume-button{
    
    background-color:rgba(255, 255, 255, 1);
    color: black;
    border-radius: 10px;
    font-size: 30px;
  }
  .contact-button{
    
    background-color:rgba(255, 255, 255, 1);
    color: black;
    font-size: 30px;
    border-radius: 10px;
    
  }
  .home-button {
    padding: 10px 20px;
    background-color: #f0db4f;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
  }
  
  .home-button:hover {
    background-color: #e5c700;
  }
  